################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCoreDemo/DotNetCoreDemo/obj
/DotNetCoreDemo/DotNetCoreDemo/bin/Debug/netcoreapp3.1
